*

!preview.png
!README.md

!.gitignore
!.bashrc
!.bash_profile

!.config/

!.config/nvim/
!.config/nvim/**

!.config/wezterm/
!.config/wezterm/**

!.config/fish/
!.config/fish/**

!.config/neofetch/
!.config/neofetch/**

!.config/fxcit5/
!.config/fxcit5/**

!.local/
!.local/share/
!.local/share/color-schemes/
!.local/share/color-schemes/**
