*

!preview.png
!README.md

!.gitignore
!.bashrc
!.bash_profile

!.tmux.conf

!.config/

!.config/hypr/
!.config/hypr/**

!.config/waybar/
!.config/waybar/**

!.config/swaylock/
!.config/swaylock/**

!.config/hyprpaper/
!.config/hyprpaper/**

!.config/rofi/
!.config/rofi/**

!.config/nvim/
!.config/nvim/**

!.config/wezterm/
!.config/wezterm/**

!.config/fish/
!.config/fish/**

!.config/neofetch/
!.config/neofetch/**

!.config/fxcit5/
!.config/fxcit5/**

!.config/pipewire/
!.config/pipewire/**

!.local/
!.local/share/
!.local/share/color-schemes/
!.local/share/color-schemes/**
